@font-face {
  font-family: "zabaras";
  src: url("fonts/Zabars.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("img/5_background/body_background/body_background3.jpg");
  object-fit: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  font-family: "zabaras", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 64px;
  letter-spacing: 5px;
  text-shadow: 8px 8px 8px #a0220a;
  color: #3dafd1;
}

.game-over {
  height: 480px;
  width: 720px;
  position: relative;
}

.game-over img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.game-win {
  height: 480px;
  width: 720px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.game-win img {
  width: 100%;
  height: 100%;
}

.restart-button {
  background-color: #8b5e3c;
  color: #ffd000;
  font-size: 24px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.restart-button:hover {
  background-color: #6f482e;
  transform: translateX(-50%) scale(1.1);
}

.landscape-warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  black;
  color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2000; 
  
}

.landscape-warning h2 {
  font-size: 32;
  letter-spacing: 3px;
}


.landscape-warning img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.d-none {
  display: none;
}

@keyframes fadeOut {
  from {
    transform: translateY(0) rotate(0deg);
    visibility: visible;
  }
  to {
    transform: translateY(-50px) rotate(360deg); /* Rotate 360 degrees */
    visibility: hidden;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(50px) rotate(-360deg); 
    visibility: hidden;
  }
  to {
    transform: translateY(0) rotate(0deg);
    visibility: visible;
  }
}

#canvas.fade-out {
  animation: fadeOut 1s forwards; 
}

.game-over.fade-in {
  animation: fadeIn 1s forwards; 
}

.sound-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  padding: 16px;
  cursor: pointer;
}

.sound-icon-canvas {
  width: 35px;
  height: 35px;
  position: absolute;
  top: -5px;
  padding: 16px;
  cursor: pointer;
}

.sound-icon {
  transition: filter 0.3s ease;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./img/5_background/body_background/body_background2.jpg');
  background-size: cover;  
  background-position: center;   
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
  letter-spacing: 3px;
  z-index: 100; 
}

.loader img {
  width: 100px;
  height: 270px;
}
  
.sound-icon:hover, .sound-icon-canvas:hover, .fullscreen-img:hover {
  filter: drop-shadow(
    0 0 8px #fff5e1
  ); 
}

.mobile-controls {
  position: absolute;
  left: 20px;
  bottom: 5px;
  display: flex;
  gap: 16px;
  display: none;
}

.mobile-controls2 {
  position: absolute;
  right: 20px;
  bottom: 5px;
  display: flex;
  gap: 16px;
  display: none;
}

.mobile-controls a,
.mobile-controls2 a {
 display: inline-block;
}
  
.icon-mobile {
  width: 42px;
  height: 42px;
}

.impressum-policy {
  display: flex;
  gap: 16px;
  position: absolute;
  bottom: 16px;
}

.impressum-policy a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
  transition: text-shadow 0.25s ease-out;
}
.impressum-policy a:hover {
  text-shadow: 0 0 8px white; 
}


canvas {
  background-color: black;
  display: block;
  border-radius: 10px;
  box-shadow: 0 0 0 3px rgba(148,0,211,1), 0 0 0 6px rgba(75,0,130,1), 0 0 0 9px rgba(0,0,255,1), 0 0 0 12px rgba(0,255,0,1), 0 0 0 15px rgba(255,255,0,1), 0 0 0 18px rgba(255,127,0,1), 0 0 0 21px rgba(255,0,0,1);/
}

.icon-mobile {
  -webkit-user-drag: none;
  -user-drag: none;
  -webkit-touch-callout: none; 
}

.fullscreen-img {
  all: unset;
  display: flex;
  position: absolute;
  width: 28px;
  height: 28px;
  bottom: 12px;
  right: 8px;
  cursor: pointer;
}


