@font-face {
  font-family: "zabaras";
  src: url("fonts/Zabars.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

canvas {
  box-shadow: 0 0 0 3px rgba(148,0,211,1), 0 0 0 6px rgba(75,0,130,1), 0 0 0 9px rgba(0,0,255,1), 0 0 0 12px rgba(0,255,0,1), 0 0 0 15px rgba(255,255,0,1), 0 0 0 18px rgba(255,127,0,1), 0 0 0 21px rgba(255,0,0,1);/
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("img/5_background/body_background/body_background3.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  font-family: "zabaras", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 64px;
  letter-spacing: 5px;
  text-shadow: 8px 8px 8px #a0220a;
  color: #3dafd1;
}

.start-screen {
  height: 480px;
  width: 720px;
  background-image: url("./img/9_intro_outro_screens/start/startscreen_2.png");
  z-index: 10;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 100% 100%;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 0 3px rgba(148,0,211,1), 0 0 0 6px rgba(75,0,130,1), 0 0 0 9px rgba(0,0,255,1), 0 0 0 12px rgba(0,255,0,1), 0 0 0 15px rgba(255,255,0,1), 0 0 0 18px rgba(255,127,0,1), 0 0 0 21px rgba(255,0,0,1);
}

.game-over {
  height: 480px;
  width: 720px;
  position: relative;
}

.game-over img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.game-win {
  height: 480px;
  width: 720px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.game-win img {
  width: 100%;
  height: 100%;
}

.restart-button {
  background-color: #8b5e3c;
  color: #ffd000;
  font-size: 24px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.restart-button:hover {
  background-color: #6f482e;
  transform: translateX(-50%) scale(1.1);
}



.landscape-warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2000; 
  
}

.landscape-warning h2 {
  font-size: 32;
  letter-spacing: 3px;
}


.landscape-warning img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.d-none {
  display: none;
}

/* Define keyframes for animations */
@keyframes fadeOut {
  from {
    transform: translateY(0) rotate(0deg);
    visibility: visible;
  }
  to {
    transform: translateY(-50px) rotate(360deg); /* Rotate 360 degrees */
    visibility: hidden;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(50px) rotate(-360deg); /* Rotate -360 degrees to undo the previous rotation */
    visibility: hidden;
  }
  to {
    transform: translateY(0) rotate(0deg);
    visibility: visible;
  }
}

/* Apply the animations */
#canvas.fade-out {
  animation: fadeOut 1s forwards; /* 1 second duration */
}

.game-over.fade-in {
  animation: fadeIn 1s forwards; /* 1 second duration */
}



.controls {
  text-align: center;
  margin-top: 12px;
  background-color: #8b5e3c;
  padding: 16px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff5e1;
  width: 300px;
  display: none;
}

.controls h2,
.how-to-play h2 {
  font-size: 32px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px; /* Adjusted to be consistent */
  text-shadow: 1px 1px #4e342e;
  color: White;
  margin-block-end: 0;
  margin-block-start: 0;
}

.control-item {
  font-size: 18px;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-item span {
  display: flex;
  align-items: center;
}

.control-item span.icon {
  font-size: 32px;
  margin-right: 10px;
}

.arrow-right::before {
  content: "→";
}

.arrow-left::before {
  content: "←";
}

.controls.active {
  display: block;
}

.how-to-play.active {
  display: block;
}

.help-item {
  font-size: 18px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-to-play {
  text-align: center;
  margin-top: 12px;
  background-color: #8b5e3c;
  padding: 16px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff5e1;
  width: 300px;
  height: 220px;
  display: none;
}

.key-d::before {
  content: "D";
  font-weight: bold;
  padding: 2px 8px;
  background-color: #4e342e;
  border-radius: 4px;
  margin-right: 10px;
}

.space-bar::before {
  content: "⎵";
  font-size: 32px;
  background-color: #4e342e;
  padding: 2px 12px;
  border-radius: 4px;
  margin-right: 10px;
}

.text-size-controls {
  font-size: 30px;
}

#fullscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.d-none {
  display: none !important;
}

.cowboy-button {
  background-color: #8b5e3c; /* Lederbraun */
  color: #fff5e1; /* Helles Beige */
  border: 2px solid #b08864; /* Goldene Umrandung */
  border-radius: 50%;
  padding: 10px 10px;
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0px #4e342e;
  box-shadow: 0 4px #4e342e;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 100px;
}

.cowboy-button:hover {
  background-color: #a66a3f;
  box-shadow: 0 2px #4e342e;
  transform: translateY(2px);
}

.cowboy-button:active {
  background-color: #7a4f2f;
  box-shadow: 0 1px #4e342e;
  transform: translateY(3px);
}

.cowboy-button::before {
  content: "★";
  font-size: 40px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffd700; /* Goldener Sheriffstern */
}

.cowboy-controls-button {
  background-color: #8b5e3c; /* Leather Brown */
  color: #fff5e1; /* Light Beige */
  border: 2px solid #b08864; /* Golden Border */
  border-radius: 50%;
  padding: 10px 10px;
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0px #4e342e;
  box-shadow: 0 4px #4e342e;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  display: flex;
  left: 20px;
  bottom: 20px;
  width: 100px;
  height: 100px;
}

.cowboy-controls-button:hover {
  background-color: #a66a3f;
  box-shadow: 0 2px #4e342e;
  transform: translateY(2px);
}

.cowboy-controls-button:active {
  background-color: #7a4f2f;
  box-shadow: 0 1px #4e342e;
  transform: translateY(3px);
}

.cowboy-controls-button::before {
  content: "Controls";
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff5e1; /* Text color */
}

.help-button {
  background-color: #8b5e3c; /* Leather Brown */
  color: #fff5e1; /* Light Beige */
  border: 2px solid #b08864; /* Golden Border */
  border-radius: 50%;
  padding: 5px; /* Reduced padding for smaller size */
  text-align: center;
  font-size: 16px; /* Smaller font size */
  margin-top: 10px; /* Adjusted margin */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; /* Reduced letter-spacing */
  text-shadow: 1px 1px 0px #4e342e; /* Smaller text-shadow */
  box-shadow: 0 2px #4e342e; /* Reduced box-shadow */
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  left: 20px;
  bottom: 120px;
  width: 50px; /* Smaller width */
  height: 50px; /* Smaller height */
  font-size: 20px; /* Adjust font size to fit the content */
}

.help-button::before {
  content: "?";
  font-size: 20px; /* Adjust font size as needed */
  color: #fff5e1; /* Text color */
  display: block;
}

.help-button:hover {
  background-color: #a66a3f;
  box-shadow: 0 1px #4e342e; /* Reduced box-shadow on hover */
  transform: translateY(1px); /* Smaller transform on hover */
}

.help-button:active {
  background-color: #7a4f2f;
  box-shadow: 0 1px #4e342e;
  transform: translateY(2px); /* Smaller transform on active */
}

.sound-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  padding: 16px;
  cursor: pointer;
}


.sound-icon-canvas {
  width: 35px;
  height: 35px;
  position: absolute;
  top: -5px;
  padding: 16px;
  cursor: pointer;
}

.sound-icon {
  transition: filter 0.3s ease;
}


.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./img/5_background/body_background/body_background2.jpg');
  background-size: cover;  /* Makes the background cover the entire area */
  background-position: center;  /* Centers the background image */
  background-repeat: no-repeat;  /* Prevents repeating the background */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
  letter-spacing: 3px;
  z-index: 100; /* Make sure it's on top of everything */
  display: none;
}

.loader img {
  width: 100px;
  height: 270px;
}
  



.sound-icon:hover, .sound-icon-canvas:hover, .fullscreen-img:hover {
  filter: drop-shadow(
    0 0 8px #fff5e1
  ); /* Adjust the blur radius (8px) as needed */
}

.mobile-controls {
  position: absolute;
  left: 20px;
  bottom: 5px;
  display: flex;
  gap: 16px;
  display: none;
}
.mobile-controls2 {
  position: absolute;
  right: 20px;
  bottom: 5px;
  display: flex;
  gap: 16px;
  display: none;
}

.mobile-controls a,
.mobile-controls2 a {
  display: inline-block;
  /* Other styles to ensure proper alignment */
}

.icon-mobile {
  width: 42px;
  height: 42px;
}

.impressum-policy {
  display: flex;
  gap: 16px;
  position: absolute;
  bottom: 16px;
}

.impressum-policy a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
  transition: text-shadow 0.25s ease-out;
}
.impressum-policy a:hover {
  text-shadow: 0 0 8px white; /* Adjust the blur radius (8px) as needed */
}

/* Impressum and Privacy Policy End */
canvas {
  background-color: black;
  display: block;
  border-radius: 10px;
}

.icon-mobile {
  -webkit-user-drag: none; /* For Safari and Chrome */
  -user-drag: none; /* For other browsers */
  -webkit-touch-callout: none; /* Prevents the callout (context menu) on iOS */
}

.fullscreen-img {
  all: unset;
  display: flex;
  position: absolute;
  width: 28px;
  height: 28px;
  bottom: 12px;
  right: 8px;
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
  h1 {
    display: none;
  }
}
@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
    width: 100vw;
  }
  h1 {
    display: none;
  }
}

@media only screen and (max-width: 721px) {
 
  .landscape-warning {
    display: flex;
  }
}

@media only screen and (orientation: landscape) and (max-width: 933px) {
  .landscape-warning {
    display: none;
  }
  #fullscreen {
    width: 100%;
    position: initial;
  }

  .start-screen {
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    position: relative;
  }

  .controls {
    position: absolute;
  }

  .game-over {
    width: 100%;
    height: 100vh;
  }
  .game-over img {
   border-radius: 0;
  }

  .game-win {
    width: 100%;
    height: 100vh;
  }

  .fullscreen-img {
    display: none;
  }

  .how-to-play {
    position: absolute;
  }

  canvas {
    border-radius: 0;
    height: 100vh;
    width: 100vw;
  }

  h1 {
    display: none;
  }
  .mobile-controls,
  .mobile-controls2 {
    display: flex;
  }
 
}

/* @media only screen and (orientation: landscape) and (max-width: 950px) and (max-height: 500px) {
  #fullscreen {
    width: 100%;
    position: initial;
  }

  .start-screen {
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    position: relative;
  }

  .controls {
    position: absolute;
  }

  .game-over {
    width: 100%;
    height: 100vh;
  }
  .game-over img {
   border-radius: 0;
  }

  .game-win {
    width: 100%;
    height: 100vh;
  }

  .fullscreen-img {
    display: none;
  }

  .how-to-play {
    position: absolute;
  }

  canvas {
    border-radius: 0;
    height: 100vh;
    width: 100vw;
  }

  h1 {
    display: none;
  }
  .mobile-controls,
  .mobile-controls2 {
    display: flex;
  } */
